html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
}

.logo {
  width: 100%;
}

nav a {
  display: inline-block;
  padding: 1em;
  background-color: #231f20;
  color: #b58d3e;
  text-decoration: none;
  border-radius: 0px;
  font-family: 'Lato', sans-serif;
}

nav {
  padding: 0em;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}
nav ol {
  margin: 0;
  padding: 0;
}

.box {
  padding: 3em;
  background-color: #231f20;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #b58d3e;
}

.box-1 {
  position: relative;
}

.apps {
  margin: 1em;
  width: 200px;
}


h2 {
  background-color: #231f20;
  color: #b58d3e;
  font-family: 'Lato', sans-serif;
  padding: 1em;
}

p {
  text-align: center;
  margin: 2em;
}

h3 {
  background-color: #231f20;
  color: #b58d3e;
  font-family: 'Lato', sans-serif;
  padding: 1em;
  text-align: right;
  margin: 0em;
}

.x {
  width: 100%;
}

.maps {
  margin-top: 1em;
  width: 100%;
  margin-bottom: 0em;
  background-color: #231f20;
  padding: 2em;
}

.ssi {
  background-color: #9e0b28;
  padding: 2em;
  padding-top: 5em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  color: #b58d3e;
}
